.modal-container.modal {
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #12121280;
    animation: fadeIn 0.2s ease-in-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .modal-container.modal .modal-content {
    max-height: 80vh;
    overflow-y: scroll;
    width: 960px;
    transform: translateY(-60px);
    background-color: white;
    padding-bottom: 20px;
    border: 1px solid #888;
    animation: slideIn 0.2s ease-in-out forwards;
  }
  .modal-container.modal .moadal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #f0f1f2;
    padding: 0 16px;
    height: 56px;
    position: sticky;
    top: 0;
    font-size: 18px;
    font-weight: 500;
  }
  .modal-container.modal .moadal-header-content {
    flex: 1;
  }
  .modal-container.modal .close {
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
    font-weight: 300;
  }
  .modal-container.modal .modal-content-body {
    padding: 32px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
  }
  .modal-container.modal #confirmBtn {
    margin-top: 10px;
  }
  .modal-container.modal .modal.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
  }
  .modal-container.modal .modal-content.slide-out {
    animation: slideOut 0.3s ease-in-out forwards;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50px);
    }
  }
  @media (max-width: 1024px) {
    .modal-container.header__changeLocal.modal .moadal-header {
      padding-top: 60px;
      height: 112px;
    }
    .modal-container.modal .modal-content {
      max-height: 100vh;
      width: 100%;
      transform: translateY(0);
      padding-bottom: 12px;
      border: none;
    }
    .modal-container.modal .moadal-header {
      padding: 0 12px;
      height: 52px;
      background: #fff;
    }
    .modal-container.modal .modal-content-body {
      padding: 18px;
    }
  }
  